html, body {
   overflow-x: hidden;
}

body {
   font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
   color:#333333;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
}

p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
}

/* GRID */

.container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
}

.container:before,
.container:after {
   content: " ";
   display: table;
}

.container:after {
   clear: both;
}

.one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
}

/* media queries */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .one-half {
    width:46%;
  }

}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  
  .one-third {
    width:29.33333%;
  }
  
  .one-fourth {
    width:21%;
  }

  footer{
    height: 100px;
  }

  footer p, footer nav ul{
    padding: 2em 0;
    text-align: left;
  }

  footer .logo{
    padding: 2em 0 2em 1.5em;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 2000px) {
  .container {
    width: 1920px;
  }
}

/* header section */

header {
  color:#FFFFFF;
  background: #34495E;
  background-image: linear-gradient(206deg, #1D9996 0%, #14B1AB 94%);
}

header nav {
  padding:1em 0;
}

header nav ul {
  display:inline;
  text-align: right;
  float:right;
  margin:0;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin:0 15px;
}

header nav ul > li.btn-outline {
  padding:10px 15px;
  border:2px solid #FFFFFF;
  border-radius: 4px;
}

header nav ul > li.btn-outline:hover {
  background:#FFFFFF;
}

header nav ul > li > a {
  color:#FFFFFF;
  text-decoration: none;
}

header nav ul > li.btn-outline:hover > a {
  color:#34495E;
}

header .hero {
  text-align: center;
  display:block;
  position: relative;
}

header .hero h1 {
  font-size:48px;
  font-weight: bold;
  margin:95px 0 0;
}

header .hero p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin:10px 0 40px;
}

header .hero img {
  display: block;
  margin:3em auto 0;
  max-width: 100%;
}

/* button styling */

.btn {
  border-radius: 4px;
  color:#FFFFFF;
  text-decoration: none;
  padding:10px 30px;
  background: #632940;
  border: 2px solid #632940;
  box-shadow: 0px 2px 0px 0px #481E2F;
}

/* benefits section */

.benefits {
  color: #fff;
}

.benefits h2 {
  font-size: 32px;
  font-weight: bold;
}

.benefits i {
  font-size: 48px;
}

.benefits p {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 300;
}

.notes {
  height: 500px;
  background: #387490 url("../images/create-notes.png") right center no-repeat;
}

.notes-text {
  width: 30%;
  padding: 130px 0;
}

.images {
  height: 500px;
  background: #14b0ac url("../images/save-images.png") left center no-repeat;
}

.images-text {
  width: 30%;
  position: absolute;
  text-align: right;
  right: 0;
  padding: 130px 0;
}

.links {
  height: 500px;
  background: #387490 url("../images/add-links.png") right center no-repeat;
}

.links-text {
  width: 30%;
  padding: 130px 0;
}

/* pricing section */

.pricing {
  background: #eeeded;
  text-align: center;
  padding:4em 0;
}
 
.pricing h2, .pricing p {
  color:#000;
}

.pricing ul {
  margin:0 auto;
  padding:2em 0;
}
 
.pricing ul li {
  list-style-type: none;
}

.box {
  padding:0 15px 15px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
}
 
.box.middle {
  min-height: 485px;
  margin-top:0px;
}

.box h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background: #387490;
  left:0;
  right:0;
  top:0;
  text-align: center;
  margin:0 -15px 40px;
  padding:10px 0;
}

.box h4 {
  font-size:50px;
  font-weight: bold;
  margin:40px 0 10px;
  color:#000;
}

.box h4 span {
  font-size:32px;
  vertical-align: top;
}
 
.box h4 span.month {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color:#888888;
  font-size:20px;
  vertical-align: middle;
}
 
.box ul li {
  font-size:18px;
  margin-bottom:20px;
  font-weight: 100;
}

.box .btn {
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
}

.small {
  font-size: 12px;
  color: #FEFEFE;
  line-height: 15px;
  font-style:italic;
}

/* testimonials section */

.testimonials {
  background: url("../images/testimonials-bg.png") top center/cover no-repeat;
  padding:4em 0;
  text-align: center;
  color: #fff;
}

.testimonials ul li {
  list-style-type: none;
}

.testimonials li:nth-child(even) {
  margin-top: 40px;
}

.testimonials blockquote {
  text-align: left;
  font-style: italic;
  background:#387490;
  position: relative;
  padding:30px;
  width:auto;
  margin:0;
}

.testimonials blockquote:after {
  top: 100%;
  left: 13%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #387490;
  border-width: 10px;
  margin-left: -10px;
}

.testimonials img {
  height: 65px;
  width: 65px;
  border-radius:50%;
  float: left;
  display: inline-block;
  margin:20px 10px 0 0;
}

.testimonials p.name {
  float: left;
  display: inline-block;
  text-align: left;
  font-size:13px;
  margin-top: 30px;
}

/* footer section */

footer {
  background-color: #387490;
  color: #FFFFFF;
  height: 100px;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

footer p, footer nav ul {
  font-size:14px;
  font-weight:100;
  margin: 10px auto 0;
}

footer p {
  text-align: left;
}

footer nav ul {
  text-align: center;
}
 
footer nav ul li {
  list-style-type: none;
  display: inline;
}

footer nav ul li a {
  color:#FFFFFF;
  text-decoration: none;
}

footer .logo{
  padding: 1em 0;
  position: absolute;
  right: 0;
  display: block;
}

/* more media queries */
@media (max-width: 1023px) {
  header .bb-logo {
    text-align: center;
  }

  header .nav-buttons {
    margin-bottom: 0;
  }

  header nav ul {
    float: none;
    display: block;
    text-align: center;
    padding: 0;
  }

  header .hero h1 {
  font-size:36px;
  margin-top: 50px;
  }

  header .hero p {
    font-size: 18px;
  }

  .benefits .benefits-div {
    height: 350px;
  }

  .notes {
    background: linear-gradient(rgba(56, 116, 144, 0.75), rgba(56, 116, 144, 0.75)), url("../images/create-notes.png") right center/cover no-repeat;
  }

  .images {
    background: linear-gradient(rgba(20, 176, 172, 0.75), rgba(20, 176, 172, 0.75)), url("../images/save-images.png") right center/cover no-repeat;
  }

  .links {
    background: linear-gradient(rgba(56, 116, 144, 0.75), rgba(56, 116, 144, 0.75)), url("../images/add-links.png") right center/cover no-repeat;
  }

  .benefits .benefits-text {
    position: relative;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 75px 0;
  }

  footer .copyright-block {
    text-align: center;
  }
}


/* dashboard styling */

.dashboard {
   background:#eeeded;
}

.left-nav {
  height: 100vh;
  width:14.66666667%;
  color:#FFFFFF;
  background: #34495E;
  background-image: linear-gradient(206deg, #1D9996 0%, #14B1AB 94%);
  float:left;
  position: fixed;
  display:block;
}

.left-nav .site-logo {
   padding:20px 0;
   background:#387490;
   display:block;
   text-align: center;
 }
 .left-nav .items {
   padding:0 6%;
 }
 .left-nav .items p {
   font-weight: 600;
   text-transform: uppercase;
   font-size: 12px;
   color: #E2E2E2;
   line-height: 15px;
 }
 .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;
 }
 .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
 }
 .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }

 /* navbar settings */

 .left-nav .settings {
   position:absolute;
   background:#387490;
   width:100%;
   bottom:0;
   left:0;
   right:0;
   padding:10px 0;
 }
 .left-nav .settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }
 .left-nav .settings p {
   display: inline-block;
   vertical-align: top;
   padding-top: 8px;
   font-weight: 400;
   margin:0 0 0 10px;
 }
 .left-nav .settings a {
   color:#FFFFFF;
   text-decoration: none;
   text-align: right;
   float: right;
   margin-right:10px;
   margin-top:8px;
 }

 /* content */

 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }
 .content .header {
   margin:0 1% 20px;
 }
 .content .header h1 {
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #3498DB;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }

 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }

  .item-box > img {
   position:absolute;
   height:100%;
   width:auto;
   top:0;
   left:0;
   right:0;
 }
 .item-box h2 {
   font-family: 'Montserrat', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }
 .item-box h2 a {
   color: #3498DB;
   text-decoration: none;
 }
 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
 }

